.DS_Store
__pycache__
env_vars.yml
env_vars_colab.yml

notebooks/AutogluonModels
notebooks/mlruns

# PyCaret
logs.log
catboost_info/

# Pytorch Lightning
notebooks/lightning_logs/
notebooks/logs

# Optuna
notebooks/optuna_storage/

# Pytest
.pytest_cache
tests/.pytest_cache