.DS_Store
__pycache__
env_vars.yml
env_vars_colab.yml

notebooks/AutogluonModels
notebooks/mlruns

# PyCaret
logs.log
catboost_info/

# AutoGLuon
experiments_logs/AutogluonModels

# Pytorch Lightning
notebooks/lightning_logs/
notebooks/logs
experiments_logs/lightning/lightning_logs

# Optuna
notebooks/optuna_storage/

# MLflow
mlruns

# Pytest
.pytest_cache
tests/.pytest_cache